<div>
  <h2 id="page-heading" data-cy="DispositivoHeading">
    <span jhiTranslate="serverApiApp.dispositivo.home.title">Dispositivos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="serverApiApp.dispositivo.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dispositivo"
        [routerLink]="['/dispositivo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="serverApiApp.dispositivo.home.createLabel">Create a new Dispositivo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (dispositivos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="serverApiApp.dispositivo.home.notFound">No Dispositivos found</span>
    </div>
  }

  @if (dispositivos && dispositivos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.dispositivo.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idExterno">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.dispositivo.idExterno">Id Externo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codigo">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.dispositivo.codigo">Codigo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.dispositivo.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.dispositivo.descripcion">Descripcion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="precioBase">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.dispositivo.precioBase">Precio Base</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="moneda">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.dispositivo.moneda">Moneda</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (dispositivo of dispositivos; track trackId(dispositivo)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/dispositivo', dispositivo.id, 'view']">{{ dispositivo.id }}</a>
              </td>
              <td>{{ dispositivo.idExterno }}</td>
              <td>{{ dispositivo.codigo }}</td>
              <td>{{ dispositivo.nombre }}</td>
              <td>{{ dispositivo.descripcion }}</td>
              <td>{{ dispositivo.precioBase }}</td>
              <td [jhiTranslate]="'serverApiApp.Moneda.' + (dispositivo.moneda ?? 'null')">
                {{ { null: '', ARS: 'ARS', USD: 'USD', EUR: 'EUR' }[dispositivo.moneda ?? 'null'] }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/dispositivo', dispositivo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/dispositivo', dispositivo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(dispositivo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
