<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (personalizacion(); as personalizacionRef) {
      <div>
        <h2 data-cy="personalizacionDetailsHeading">
          <span jhiTranslate="serverApiApp.personalizacion.detail.title">Personalizacion</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="serverApiApp.personalizacion.id">Id</span></dt>
          <dd>
            <span>{{ personalizacionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="serverApiApp.personalizacion.idExterno">Id Externo</span></dt>
          <dd>
            <span>{{ personalizacionRef.idExterno }}</span>
          </dd>
          <dt><span jhiTranslate="serverApiApp.personalizacion.nombre">Nombre</span></dt>
          <dd>
            <span>{{ personalizacionRef.nombre }}</span>
          </dd>
          <dt><span jhiTranslate="serverApiApp.personalizacion.descripcion">Descripcion</span></dt>
          <dd>
            <span>{{ personalizacionRef.descripcion }}</span>
          </dd>
          <dt><span jhiTranslate="serverApiApp.personalizacion.dispositivo">Dispositivo</span></dt>
          <dd>
            @if (personalizacion()!.dispositivo) {
              <div>
                <a [routerLink]="['/dispositivo', personalizacion()!.dispositivo?.id, 'view']">{{ personalizacionRef.dispositivo?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="serverApiApp.personalizacion.venta">Venta</span></dt>
          <dd>
            @for (venta of personalizacionRef.ventas; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/venta', venta.id, 'view']">{{ venta?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/personalizacion', personalizacionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
