<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (caracteristica(); as caracteristicaRef) {
      <div>
        <h2 data-cy="caracteristicaDetailsHeading"><span jhiTranslate="serverApiApp.caracteristica.detail.title">Caracteristica</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="serverApiApp.caracteristica.id">Id</span></dt>
          <dd>
            <span>{{ caracteristicaRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="serverApiApp.caracteristica.idExterno">Id Externo</span></dt>
          <dd>
            <span>{{ caracteristicaRef.idExterno }}</span>
          </dd>
          <dt><span jhiTranslate="serverApiApp.caracteristica.nombre">Nombre</span></dt>
          <dd>
            <span>{{ caracteristicaRef.nombre }}</span>
          </dd>
          <dt><span jhiTranslate="serverApiApp.caracteristica.descripcion">Descripcion</span></dt>
          <dd>
            <span>{{ caracteristicaRef.descripcion }}</span>
          </dd>
          <dt><span jhiTranslate="serverApiApp.caracteristica.dispositivo">Dispositivo</span></dt>
          <dd>
            @if (caracteristica()!.dispositivo) {
              <div>
                <a [routerLink]="['/dispositivo', caracteristica()!.dispositivo?.id, 'view']">{{ caracteristicaRef.dispositivo?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/caracteristica', caracteristicaRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
