<div>
  <h2 id="page-heading" data-cy="AdicionalHeading">
    <span jhiTranslate="serverApiApp.adicional.home.title">Adicionals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="serverApiApp.adicional.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-adicional"
        [routerLink]="['/adicional/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="serverApiApp.adicional.home.createLabel">Create a new Adicional</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (adicionals?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="serverApiApp.adicional.home.notFound">No Adicionals found</span>
    </div>
  }

  @if (adicionals && adicionals.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.adicional.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idExterno">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.adicional.idExterno">Id Externo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.adicional.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descripcion">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.adicional.descripcion">Descripcion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="precio">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.adicional.precio">Precio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="precioGratis">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.adicional.precioGratis">Precio Gratis</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dispositivo.id">
              <div class="d-flex">
                <span jhiTranslate="serverApiApp.adicional.dispositivo">Dispositivo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (adicional of adicionals; track trackId(adicional)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/adicional', adicional.id, 'view']">{{ adicional.id }}</a>
              </td>
              <td>{{ adicional.idExterno }}</td>
              <td>{{ adicional.nombre }}</td>
              <td>{{ adicional.descripcion }}</td>
              <td>{{ adicional.precio }}</td>
              <td>{{ adicional.precioGratis }}</td>
              <td>
                @if (adicional.dispositivo) {
                  <div>
                    <a [routerLink]="['/dispositivo', adicional.dispositivo.id, 'view']">{{ adicional.dispositivo.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/adicional', adicional.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/adicional', adicional.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(adicional)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
