<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-adicional-heading" data-cy="AdicionalCreateUpdateHeading" jhiTranslate="serverApiApp.adicional.home.createOrEditLabel">
        Create or edit a Adicional
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          @let idRef = editForm.get('id')!;
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="serverApiApp.adicional.id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            @if (idRef.invalid && (idRef.dirty || idRef.touched)) {
              <div>
                @if (editForm.get('id')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                }
                <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" jhiTranslate="entity.validation.number"
                  >This field should be a number.</small
                >
              </div>
            }
          </div>
        }

        @let idExternoRef = editForm.get('idExterno')!;
        <div class="mb-3">
          <label class="form-label" for="field_idExterno" jhiTranslate="serverApiApp.adicional.idExterno">Id Externo</label>
          <input type="number" class="form-control" name="idExterno" id="field_idExterno" data-cy="idExterno" formControlName="idExterno" />
          @if (idExternoRef.invalid && (idExternoRef.dirty || idExternoRef.touched)) {
            <div>
              @if (editForm.get('idExterno')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('idExterno')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let nombreRef = editForm.get('nombre')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="serverApiApp.adicional.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (nombreRef.invalid && (nombreRef.dirty || nombreRef.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let descripcionRef = editForm.get('descripcion')!;
        <div class="mb-3">
          <label class="form-label" for="field_descripcion" jhiTranslate="serverApiApp.adicional.descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          @if (descripcionRef.invalid && (descripcionRef.dirty || descripcionRef.touched)) {
            <div>
              @if (editForm.get('descripcion')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let precioRef = editForm.get('precio')!;
        <div class="mb-3">
          <label class="form-label" for="field_precio" jhiTranslate="serverApiApp.adicional.precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
          @if (precioRef.invalid && (precioRef.dirty || precioRef.touched)) {
            <div>
              @if (editForm.get('precio')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('precio')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('precio')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let precioGratisRef = editForm.get('precioGratis')!;
        <div class="mb-3">
          <label class="form-label" for="field_precioGratis" jhiTranslate="serverApiApp.adicional.precioGratis">Precio Gratis</label>
          <input
            type="number"
            class="form-control"
            name="precioGratis"
            id="field_precioGratis"
            data-cy="precioGratis"
            formControlName="precioGratis"
          />
          @if (precioGratisRef.invalid && (precioGratisRef.dirty || precioGratisRef.touched)) {
            <div>
              @if (editForm.get('precioGratis')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('precioGratis')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '-1' }"
                  >This field should be at least -1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('precioGratis')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dispositivo" jhiTranslate="serverApiApp.adicional.dispositivo">Dispositivo</label>
          <select
            class="form-control"
            id="field_dispositivo"
            data-cy="dispositivo"
            name="dispositivo"
            formControlName="dispositivo"
            [compareWith]="compareDispositivo"
          >
            @if (!editForm.get('dispositivo')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (dispositivoOption of dispositivosSharedCollection; track $index) {
              <option [ngValue]="dispositivoOption">{{ dispositivoOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['dispositivo'])!.invalid && (editForm.get(['dispositivo'])!.dirty || editForm.get(['dispositivo'])!.touched)) {
          <div>
            @if (editForm.get(['dispositivo'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label for="field_ventas" jhiTranslate="serverApiApp.adicional.venta">Venta</label>
          <select
            class="form-control"
            id="field_ventas"
            data-cy="venta"
            multiple
            name="ventas"
            formControlName="ventas"
            [compareWith]="compareVenta"
          >
            @for (ventaOption of ventasSharedCollection; track $index) {
              <option [ngValue]="ventaOption">{{ ventaOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
